
@{
    ViewBag.Title = "Booking";
}

<link href="~/Content/stylesheets/booking.css" rel="stylesheet" />

        <div class="card-wrapper">
            <div class="card">
                <!-- card left -->
                <div class="product-imgs">
                    <div class="img-display">
                        <div class="img-showcase">
                            <img src="@Url.Content("~/Content/Images/hunza01.jpg")" alt="3310">
                            <img src="@Url.Content("~/Content/Images/hunza02.jpg")" alt="3310">
                            <img src="@Url.Content("~/Content/Images/hunza03.jpg")" alt="3310">
                            <img src="@Url.Content("~/Content/Images/hunza04.jpg")" alt="3310">
                        </div>
                    </div>
                    <div class="img-select">
                        <div class="img-item">
                            <a href="#" data-id="1">
                                <img src="@Url.Content("~/Content/Images/hunza01.jpg")" alt="3310">
                            </a>
                        </div>
                        <div class="img-item">
                            <a href="#" data-id="2">
                                <img src="@Url.Content("~/Content/Images/hunza02.jpg")" alt="3310">
                            </a>
                        </div>
                        <div class="img-item">
                            <a href="#" data-id="3">
                                <img src="@Url.Content("~/Content/Images/hunza03.jpg")" alt="3310">
                            </a>
                        </div>
                        <div class="img-item">
                            <a href="#" data-id="4">
                                <img src="@Url.Content("~/Content/Images/hunza04.jpg")" alt="3310">
                            </a>
                        </div>
                    </div>
                </div>
                <!-- card right -->
                <div class="product-content">
                    <h2 class="product-title">Attabad Lake</h2>
                    <a href="https://unsplash.com/s/photos/hunza" class="product-link">Hunza</a>
                    <div class="product-rating">
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star-half-alt"></i>
                        <span>4.7(21)</span>
                    </div>

                    <div class="product-price">
                        <p class="last-price">Old Price: <span>Rs. 33500.00</span></p>
                        <p class="new-price">New Price: <span>Rs. 25325.00 (-5%)</span></p>
                    </div>

                    <div class="product-detail">
                        <h2>about this Trip: </h2>
                        <p>
                            Swat , Behrain , Madyan Trouth Fish Farm , Kallam , Ushu Forest
                            Mahudand Lake .Shangla Top , Balakot , Kiwai Water Fall , Siri Paye
                            Saifool Malook Jheel , Naran Bazaar , Babusar Top , Lulusar Lake ,<br>

                            ☆Return Air Tickets, Deluxe Hotels, Luxury Transportation, Breakfast, Dinner Included
                            <br>
                            <hr>


                            70,000 PKR Per Person Based on Twin / Double Sharing<br>
                            67,000 PKR Per Person Based on Triple Sharing<br>
                            64,000 PKR Per person Based on Quad Sharing<br>

                            54,000 PKR Per Child Above 5year & Under 10 Year<br>
                            40,000 PKR Per Child Under 5 Year<br>
                            5000 PKR Per infant<br>



                            #SabseSasta
                            #SabseAcha
                            #AapkiTravelAgency
                        </p>
                        <p>For Bookings & Queries Contact:<br></p>
                        <h5>09-00-786-01 & 0348-29882 77223</h5>
                        <ul>
                            <li>Air Tickets <span>Domestic</span></li>
                            <li>Breakfast</li>
                            <li>Luxury Transportation </li>
                            <li>Tour Guide / Tour Leader</li>
                            <li>Return Air Tickets</li>
                        </ul>
                    </div>

                    <div class="purchase-info">


                        <button type="button" class="btn">Book Now</button>
                    </div>

                    <div class="social-links">
                        <p>Share At: </p>
                        <a href="https://www.facebook.com">
                            <i class="fab fa-facebook-f"></i>
                        </a>
                        <a href="twitter.com">
                            <i class="fab fa-twitter"></i>
                        </a>
                        <a href="https://www.instagram.com">
                            <i class="fab fa-instagram"></i>
                        </a>
                        <a href="https://www.whatsapp.com">
                            <i class="fab fa-whatsapp"></i>
                        </a>
                    </div>
                </div>
            </div>
        </div>

        <script src="~/Content/scripts/product.js"></script>

