<link href="~/Content/stylesheets/popular.css" rel="stylesheet" />

@{
    ViewBag.Title = "Popular Places";
}

<!----------------------------------------------Popular Places------------------------------------------->
<section id="popular" class="section section-popular scrollspy">
    <div class="container">
        <div class="row">
            <h4 class="center"><span class="teal-text">Popular </span>Places</h4>

        </div>
    </div>
    </div>

    <div class="products-container">
        <a href="@Url.Action("Booking", "Home")">
            <div class="card">
                <div class="product-image">
                    <img src="@Url.Content("~/Content/Images/swat2.jpg")" alt="">
                </div>
                <div class="product-info">
                    <h3>SWAT</h3>
                    
                </div>
                <button type="button">View Details</button>
            </div>
        </a>
        <a href="@Url.Action("Booking", "Home")">
            <div class="card">
                <div class="product-image">
                    <img src="@Url.Content("~/Content/Images/hunza.jpg")" alt="">
                </div>
                <div class="product-info">
                    <h3>HUNZA</h3>
                   
                </div>
                <button type="button" hred>View Details</button>
            </div>
        </a>
        <a href="@Url.Action("Booking", "Home")">
            <div class="card">
                <div class="product-image">
                    <img src="@Url.Content("~/Content/Images/naran.jpg")" alt="">
                </div>
                <div class="product-info">
                    <h3>NARAN</h3>
                    
                </div>
                <button type="button">View Details</button>
            </div>
        </a>
        <a href="@Url.Action("Booking", "Home")">
            <div class="card">
                <div class="product-image">
                    <img src="@Url.Content("~/Content/Images/kaghan.jpg")" alt="">
                </div>
                <div class="product-info">
                    <h3>KAGHAN<h3>
                    
                </div>
                <button type="button">View Details</button>
            </div>
        </a>
        <a href="@Url.Action("Booking", "Home")">
            <div class="card">
                <div class="product-image">
                    <img src="@Url.Content("~/Content/Images/skardu.jpg")" alt="">
                </div>
                <div class="product-info">
                    <h3>SKARDU</h3>
            
                </div>
                <button type="button">View Details</button>
            </div>
        </a>
        <a href="@Url.Action("Booking", "Home")">
            <div class="card">
                <div class="product-image">
                    <img src="@Url.Content("~/Content/Images/saifulmalook.jpg")" alt="">
                </div>
                <div class="product-info">
                    <h3>SAIF-UL-MALOOK</h3>
                   
                </div>
                <button type="button">View Details</button>
            </div>
        </a>
        <a href="@Url.Action("Booking", "Home")">
            <div class="card">
                <div class="product-image">
                    <img src="@Url.Content("~/Content/Images/swat.jpg")" alt="">
                </div>
                <div class="product-info">
                    <h3>NATHIA GALI</h3>
            
                </div>
                <button type="button">View Details</button>
            </div>
        </a>
        <a href="@Url.Action("Booking", "Home")">
            <div class="card">
                <div class="product-image">
                    <img src="@Url.Content("~/Content/Images/attabad.jpg")" alt="">
                </div>
                <div class="product-info">
                    <h3>ATTABAD</h3>
                    
                </div>
                <button type="button">View Details</button>
            </div>
        </a>
        
    </div>
</section>

<script src="~/Content/scripts/materialize.min.js"></script>

